body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
    padding-top: 20px;
}

body,div {
    margin: 0;
    margin: auto;
}

body,button {
    color: #fff;
}

h1 {
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-align: center;
    background-color: #48e;
    padding: 10px
}

.pass-data {
    margin-top: 20px;
}

.pass-data div {
    padding: 20px;
    text-align: center;
}


input,button {
    padding: 8px 12px;
    border: none;
    border-radius: 0;
}

input{
    margin:14px;
    background: #333
}

button {
    margin:5px 10px;
    background: #666;
}

button:hover {
    background: #555;
}

h3 {
    margin: 8px;
}

.resultado-container {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}

.resultado {   
    border: 2px solid #333;
    display: flex;
    background-color: #222;
    height: 100px;
    width: 80vw;
    align-self: flex-start;
    margin-top: 20px;
}